.footer {
    background-color: #3B1E54; 
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #EEEEEE;
    text-align: center; 
  }
  
  .footer h6 {
    margin: 0;
    font-weight: bold;
  }
  
  .footer p {
    margin: 5px 0 0;
    font-size: 14px;
  }
  