<section class="imagen_seccion">
    <mat-card class="primer-section">
        <img class="img-clinica" mat-card-image src="/img/img_clinica.jpg" alt="Imagen de la clínica">
        <div class="overlay">
            <mat-card-title class="title-clinica">Clinica Guayaquil</mat-card-title>
            <mat-card-subtitle class="subtitle-clinica">La mejor clínica de Guayaquil y del mundo !!!</mat-card-subtitle>
        </div>
    </mat-card>
    <mat-card class="segunda-seccion" >
        <mat-card class="card-servicios" appearance="outlined">
            <mat-card-header>
              <mat-card-title>Medicina General</mat-card-title>
              <mat-card-subtitle style="color: dimgrey;">Tratamientos Generales</mat-card-subtitle>
            </mat-card-header>
            <img class="img_medicina_general" mat-card-image src="/img/img_medicina_general.jpg" alt="imagen medicina general">
            <mat-card-content>
              <p>
                Servicio de Medicina General
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Solicitar</button>
              <button mat-button>Mas Informacion</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="card-servicios" appearance="outlined">
            <mat-card-header>
              <mat-card-title>Pediatria</mat-card-title>
              <mat-card-subtitle style="color: dimgrey;">Tratamientos Generales</mat-card-subtitle>
            </mat-card-header>
            <img class="img_medicina_general" mat-card-image src="/img/img-pediatria.jpg" alt="imagen medicina general">
            <mat-card-content>
              <p>
                Servicio de Pediatria
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Solicitar</button>
              <button mat-button>Mas Informacion</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="card-servicios" appearance="outlined">
            <mat-card-header>
              <mat-card-title>Ginecologia</mat-card-title>
              <mat-card-subtitle style="color: dimgrey;">Tratamientos Generales</mat-card-subtitle>
            </mat-card-header>
            <img class="img_medicina_general" mat-card-image src="/img/img-ginecologia.jpg" alt="imagen medicina general">
            <mat-card-content>
              <p>
                Servicio de Ginecologia
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Solicitar</button>
              <button mat-button>Mas Informacion</button>
            </mat-card-actions>
          </mat-card>
    </mat-card>
    
    
</section>
