
<div class="login-container">
<h3 class="login-title">Login</h3>
  <div class="login-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Ingresa tu email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        (blur)="updateErrorMessage()"
        required
      />
      <mat-error *ngIf="email.invalid">{{ errorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Ingresa tu contraseña</mat-label>
      <input matInput [type]="hide() ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button  (click)="iniciarsesion()" class="full-width">Aceptar</button>
      <button mat-raised-button color="warn" class="full-width" (click)="CerarDialogo()">Cancelar</button>
    </div>

    <div class="link-actions">
      
      <p>No tienes cuenta? <a (click)="Registrar()">Registrar</a></p>
    </div>

  </div>
</div>
