<div class="centro">
    <h2>Actualizar Usuario</h2>
    <form [formGroup]="usuarioForm" (ngSubmit)="guardar()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Edad</mat-label>
        <input matInput type="number" formControlName="edad" required>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Género</mat-label>
        <mat-select formControlName="genero" required>
          <mat-option value="Masculino">Masculino</mat-option>
          <mat-option value="Femenino">Femenino</mat-option>
          <mat-option value="Otro">Otro</mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Teléfono</mat-label>
        <input matInput type="tel" formControlName="telefono" required>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Servicio Prestado</mat-label>
        <input matInput formControlName="servicio_prestado" required>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Fecha de Registro</mat-label>
        <input matInput type="date" formControlName="fecha_registro" required>
      </mat-form-field>
      <div class="button-group">
        <button mat-raised-button type="submit" [disabled]="usuarioForm.invalid">Guardar</button>
        <button mat-raised-button (click)="cancelar()">Cancelar</button>
      </div>
    </form>
    
</div>
